[Desktop Entry]
Encoding=UTF-8
Name=Link to FreeFileSync - Free Data Backup and File Synchronization Software
Type=Link
URL=https://www.freefilesync.org/
Icon=text-html
